.content {
  margin: 0 30px;
}

.content table {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.content table th,
.content table td {
  border: 3px solid rgb(157, 157, 157);
  padding: 5px;
  text-align: center;
}
.content .addButton {
  width: 60%;
}
/* ///////// */
.shoppingCart {
  border: 1px solid rgb(71, 71, 230);
  border-radius: 10px;
  padding: 15px;
  height: 80vh;
  margin-left: 30px;
  margin-top: 10px;
}
.shoppingCart h4 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.494);
  color: rgb(71, 71, 230);
}
.shoppingCart .cartItems {
  border-bottom: 1px solid rgb(71, 71, 230);
  margin-bottom: 10px;
  height: 40vh;
  overflow: auto;
}
.shoppingCart .cartItems ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(176, 171, 171);
  position: relative;
  right: 10px;
}

/* add box */
.addBox {
  background-color: #fff;
  border: 1px solid rgb(41, 60, 202);
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.addBox h1 {
  color: blue;
}
.addBox .col {
  margin-bottom: 10px;
}
.addBox .buttons {
  margin: auto;
  margin: 10px;
}
.addBox .buttons button {
  margin-right: 10px;
}
/* //// */
@media (min-width: 100px) and (max-width: 1200px) {
  .content .addButton {
  width: 100%;
}
  .content table {
    height: 60vh !important;
    overflow: auto;
    margin-bottom: 20px;
  }
  .shoppingCart {
    height: 65%;
    width: 100%;
  }
  .shoppingCart .cartItems {
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
    height: 65%;
    overflow: auto;
  }
}
